.container {
  margin: 0 auto;
  max-width: 1100px;
}
h1 {
  max-width: 214px;
  display: flex;
  justify-content: center;
  color: rgb(179, 255, 73);
  box-shadow: 1px 5px 5px rgba(255, 255, 255, 0.3);
}
.idiotForm {
  padding: 10px 20px;
  /* border: 1px solid rgb(117, 112, 112); */
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
  gap: 10px;
  max-width: 205px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.idiotForm input {
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}
textarea {
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}
#formBtn {
  border-radius: 5px;
  background-color: rgb(255, 0, 234);
  color: rgb(255, 255, 255);
  border: none;
  padding: 5px 10px;
  transition: all 0.4s ease;
}
#formBtn:hover {
  background-color: white;
  color: blue;
}

#idiotList {
  flex-wrap: wrap;
  text-align: center;
  margin-top: 50px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#idiotList li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 10px 3px 6px 5px rgba(102, 102, 102, 1);
  border: 1px solid rgb(149, 146, 146);
  padding: 60px 30px;
  max-width: 252px;
  /* max-height: 152px; */
}
li h2,
h3,h4 {
  color: rgb(255, 255, 255);
}
#idiotList li span {
  color: yellow;
}
